<!DOCTYPE html>
 <html ng-app> <head>
   <title>Hello, Angular</title>
     <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
      </head> 
      <body ng-init="name='World'">  
      	<label>Name</label> 
      	 <input ng-model="name" /> 
      	  <span>Hello, {{ name }}!</span>  <p ng-bind="name"></p> 
      	</body> </html