img,embed{
  width: 100%;
}
 .select{
    width: 40%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#header{
  height: 60px;
  position: relative;
  background-color:aqua;
  clear: both;
}
.products {
      border: 1px solid #333;
      background-color: #f1f1f1;
      border-radius: 5px;
      padding: 16px;
      margin-bottom: 20px;
      max-height: 350px;
      overflow: scroll;
  }
  
.table {
    margin: 0px auto;
    float: none;
}
.row {
    margin: 0px auto;
    float: none;
}
.centered{
    float: none;
    margin: 0 auto;
}
.button {
    background: #6394F8;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}
 .button:visited {
      text-decoration: none;
      color: white;
}

 