#nav{
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;

}
#nav ul{
	margin: 0;
	list-style-type: none;
	padding:0;
	height:50px;
	background-color:#191919
	}
#nav  ul li {
	float: left;
	margin:0;
}
#nav ul li a{
	text-decoration: none;
	background-color: black;
	color: white;
	height: 50px;
	display: inline-block;
	width: 100px;
	text-align: center;
	line-height: 50px;
	font-family: Tahoma;
}
#nav ul li a:hover {
	background-color: lightgray;
	color: black;
	}
#container
{
width:  50%;
height: 450px;
text-align: center;
position: relative;
border: 1px solid;
}
#container img {
width: 100%;
text-align: center;
height: 100%;
position:  absolute;
}

.footer-main{
	width: 100%;
	height: auto;
	margin:auto;
	background:#191919;
	padding: 20px 0px;
}
.footer-social-icons{
	width: 100%
	margin:auto;
	height: auto;
}
.footer-social-icons ul{
	margin:0px;
	padding: 0px;
	text-align: center;
}
.footer-social-icons ul li{
	display: inline-block;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	margin: 0px 10px
	background:#32CD32;
}
.footer-social-icons ul li a{
	font-size: 30px;
	color: blue;
	display: block;
}
footer ul{

list-style-type:none;
}

  /* Make the image fully responsive */
  .carousel-inner img {
     max-height:400px;
    max-width: 100%;
    align-content: center;
  }
  
.frm{
border:solid gray 1px;
width:40%;
border-radius:5px;
margin:100px auto;
padding:5px;
}
#rates-bar{
padding: 0px 20px;
height:10px solid;

}

