*{
	margin: 0;
	padding: 0;
}
img,embed{
	width: 100%;
}
.container{
	display: flex;
	flex-direction: column;
}
.row{
	display: flex;
	padding: 1% 2%;
}
.props{
	flex-wrap: wrap;
}
.column{
	border: 1px solid #e7e7e7;
	margin: 1% 2%;
	display: flex;
	flex-direction: column;
}
fieldset{
	border-width: 0;
	margin: 1% 2%;
}
.label-desc{
	flex-basis: 30%;
	float: left;
	padding-right: 10px;
	width: 30%;
	text-align: right;
}
.label-desc:after{
	content: ":";
}
.text-no-edit{
	border-width: 0;
	outline-width: 0;
	padding: 1% 2%;
	font-weight: bold;
}
input[type=submit]{
	padding: 1% 3%;
	color: #fff;
	background-color: #17a2b8;
	border-radius: 5px;
	border: 1px solid #17a2b8;
}
.action{
	padding: 1% 2%;
	text-align: center;
}
.details{
	display: none;
	animation-name: scale;
	animation-duration: 1s;
}
@keyframes scale{
	0%{
		transform: scaleY(0);
		opacity: 0;
		transform-origin: top;
	}
	100%{
		transform: scaleY(1);
		opacity: 1;
		transform-origin: top;
	}
}
#chatbox{
	margin: 1em auto;
	height: 95vh;
	position: absolute;
	top: 0;
	background-color: #e7e7e7;
	border: 2px solid #17a2b8;
	display: none;
}
#chatbox>div{
	padding: 1% 2%;
}
.chat-head{
	height: 5%;
	display: flex;
}
.chat-head>div:nth-child(1){
	flex-basis: 85%;
}
.chat-head>div:nth-child(2){
	flex-basis: 15%;
}
.chat-head>div:nth-child(2)>button{
	font-weight: bold;
	width: 50%;
	border-width: 0;
	outline-width: 0;
	padding: 1% 2%;
	cursor: pointer;
}
.chat-head>div:nth-child(2)>button>hr{
	height: 5px;
	background-color: #17a2b8;
	border-color: #17a2b8;
}
.chat-subject{
	height: 10%;
}
.chat-body{
	height: 67%;
	background-color: #fff;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}
.chat-textField{
	height: 10%;
}
.chat-textField>form{
	display: flex;
}
.chat-textField>form>textarea{
	border: 1px solid #17a2b8;
	padding: 1% 3%;
	min-width: 80%;
	max-width: 80%;
	min-height: 60px;
	max-height: 60px;
}
.sender-message,.receiver-message{
	color: #fff;
	border-radius: 10px;
	width: 60%;
	margin: 5px 0;
}
.sender-message>p,.receiver-message>p{
	padding: 5px 5px;
	min-height: 10px !important;
}
.sender-message{
	background-color: #17a2b8;
	align-self: flex-start;
}
.receiver-message{
	background-color: #17f2b8;
	align-self: flex-end;
}
.props>div{
	flex-basis: 28%;
}